body {
  opacity: .5;
  background-color: #aff7a0;
}

.green1 {
  height: 20px;
  width: 20px;
  background-color: #22b745;

}

p {
  display: inline-block;
  color: green;
  background-color: green;

}

svg {


}
